{
  "printWidth": 100,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "bracketSpacing": true
}
